{% extends "AlcherWeb/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/CSS/newpost.css' %}">

<div class="row">
  <div class="col">

    <h5>Create a new post</h5>
    <br><br>
    <div class="card" style="height: 35rem;">
      <div class="card-body1">
        <h6>Image</h6>
        <input type="file" height="350px" width="500px" style="padding:10px;" placeholder="Upload an image">
        <br><br>
        <h6>Caption</h6>
        <input type="text" class="txt" placeholder="Give an image caption">
        <br><br>
        <p>Current Location</p>
        <p class="location"></p>

      </div>


    </div>
    <span class="pos"><input style="margin-top: 10px;" class="oran" type="submit" value="Share">
    </span>

  </div>

  <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-title1">
        <h5>My Profile &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="" class="rightarr"><img
              src="{% static 'images/rightarrow.jpg' %}" height="25px" width="25px" alt=""></a>
        </h5>

      </div>
      <div class="card-body1">
        <div class="d-flex flex-row">
          <div class="p-1 bd-highlight"> <img src="{% static 'images/cn_bg.jpg' %}" class="round-bord" width="45px"
              height="45px" alt="">
          </div>
          <div class=" bd-highlight">
            <div class="d-flex flex-column " id="pdd">
              <div class="bd-highlight">Username</div>
              <div class="bd-highlight">
                <h5>Person name</h5>
              </div>
            </div>
          </div>

        </div>
        <p style="padding-top:20px;" style="text-align:centre;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Voluptas reprehenderit ut illum error facilis, amet, assumenda eveniet dolorem aperiam eos mollitia vitae
          dolore, ratione sint officiis incidunt doloribus. Accusamus, ipsam!</p>

        <div class="d-flex flex-column ">
          <div class=" bd-highlight">
            <div class="d-flex flex-row ">
              <div class=" bd-highlight"><img src="{% static 'images/plus_cent.png' %}" height="25px" width="25px"
                  alt=""></div>
              <div class=" bd-highlight">&nbsp;&nbsp; <a class="reu" href="">My posts</a> </div>
            </div>


          </div>
          <div class="bd-highlight">
            <div class="d-flex flex-row">
              <div class=" bd-highlight"><img src="{% static 'images/bookmark.jpg' %}" height="25px" width="25px"
                  alt=""></div>
              <div class=" bd-highlight">&nbsp;&nbsp;<a class="reu" href="">Saved Posts</a></div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <br><br>
    <div class="card" style="padding:10px;">
      <div class="card-body2">
        <div class="d-flex flex-row ">
          <div><a class="reu" href=""><img src="{% static 'images/plus_cent.png' %}" height="25px" width="25px"
                alt="">&nbsp;&nbsp;</a>Create new post</div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'JS/newpost.js' %}"></script>
{% endblock content %}