.orcol
{
    color: #ff7b00;
}
.content
{
    padding-top: 5%;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 10%;
}
.nav_specs
{
    background-image: linear-gradient(to right, #fc8803,#fc6603);

}
.round-bord
{border-radius: 50%;}