
.heading
{
    font-size: 25px;
    
}
body{
    padding:20px;
}
.aer
{
    padding-left: 80%;
}
.container
{
    padding-top: 50px;
}
.row
{
    padding: 10px;
}
.col-6
{
    padding: 7px;
}
.anc
{
    color: grey;
    text-decoration: none;
}
.card
{
    border: 10px;
    border-color: #fc8c03;
}